NEXT_PUBLIC_SITE_URL=https://selaviefemme.com.br
NEXT_PUBLIC_WHATSAPP=5511999999999

AUTH_SECRET=12112005hhh
NEXTAUTH_URL=https://selaviefemme.com.br
AUTH_URL=https://selaviefemme.com.br

RESEND_API_KEY=re_AbfM4qtz_AwYeEu316s1fJsU2QoJH5eBU
RESEND_FROM_EMAIL=Selavie Femme <onboarding@resend.dev>

DATABASE_URL=postgresql://postgres.pqrmoryawintynnluumc:[j@W4.+YSZtHv+k7]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.pqrmoryawintynnluumc:[j@W4.+YSZtHv+k7]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

MERCADOPAGO_ACCESS_TOKEN=
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=

PIX_KEY=henrymaximo099@gmail.com
PIX_MERCHANT_NAME=SELAVIE FEMME
PIX_MERCHANT_CITY=SAO PAULO

ORDER_NOTIFY_EMAIL=henrymaximo099@gmail.com